
src/disentanglement/wandb/
src/disentanglement/src/
src/disentanglement/ckpts/
src/FaceMEO/openai_wrapper.py
src/audio2speech
src/evaluation
src/expclip

conda_env/

data/

.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints

__pycache__/
*/__pycache__/
*/*/__pycache__/

*_old_*
*.npy
*.pkl
*.mp4
*.log