.mp4
src/disentanglement/wandb/
src/disentanglement/src/
src/disentanglement/ckpts/

conda_env/

data/dtw/
data/dynamic_livelink_MEAD/
data/feature/
data/livelink_MEAD/*/
data/MEAD/
data/old/
data/result/
data/test/

.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints

__pycache__/
*/__pycache__/
*/*/__pycache__/